*.iml
.gradle
/local.properties
/.idea/
# Ignore Gradle outputs recursively in all modules
**/build/
# Ignore relocated outputs directory used to avoid Windows file locks
**/.build/
.DS_Store
/build
/captures
.externalNativeBuild
/bintrayup.bat
